<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    <div class="dropdown no-arrow  d-print-none" *ngIf="actions.length">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">{{ actionsHeader }}:</div>
        <ng-container *ngFor="let action of actions">
          <a class="dropdown-item" href="#" *ngIf="isAction(action) && action.callback" [attr.data-toggle]="action.modal ? 'modal': ''" [attr.data-target]="action.modal ? '#' + action.modal : ''" (click)="action.callback()">{{ action.name }}</a>
          <div class="dropdown-divider" *ngIf="!isAction(action)"></div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body text-center">
    <app-line-chart [id]="chartId" [labels]="chartLabels" [dataLabel]="chartDataLabel" [data]="chartData" *ngIf="chartType == 'line'"></app-line-chart>
    <app-pie-chart [id]="chartId" [labels]="chartLabels" [data]="chartData" [colors]="chartColors" [hoverColors]="chartHoverColors" *ngIf="chartType == 'pie'"></app-pie-chart>
  </div>
</div>