<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-2 font-weight-bold text-primary float-left">Beacons</h6>
      <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModal">New</button>
    </div>
    <div class="card-body">
      <app-table [columns]="columns" [data]="data"></app-table>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ entryId === null ? 'Create' : 'Edit' }} beacon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="beaconId">Id</label>
          <input type="text" class="form-control" id="beaconId" placeholder="Beacon's id" [(ngModel)]="id">
        </div>
        <div class="form-group">
          <label for="beaconName">Name</label>
          <input type="text" class="form-control" id="beaconName" placeholder="Beacon's name" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="beaconLocation">Location</label>
          <select class="form-control" id="beaconLocation" [(ngModel)]="location">
            <option [value]="location.id" *ngFor="let location of locations">{{location.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submit()">Save changes</button>
      </div>
    </div>
  </div>
</div>